body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  display: block;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ============HEADER=========== */
.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-right: 76px;
}

.header-nav {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.nav-link {
  padding: 24px 0;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-list-item {
  padding: 24px 0;
}

.part-of-logo-header {
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #404bbf;
}

.contacts-link {
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* ==========FIRST-SECTION========== */

.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-right: auto;
  margin-left: auto;
  max-width: 496px;
}

.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 49px;
  min-width: 169px;
  height: 56px;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* ============ADVANTAGES============= */

.advantages {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list-item {
  width: calc((100% - 72px) / 4);
}

.advantages-title {
  color: #2e2f42;
}

.advantages-text {
  color: #434455;
  width: 264px;
}

/* ============OUR-TEAM============= */

.third-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}
.worker {
  padding: 32px 0;
}

.our-team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.our-team-list-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-team-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/* ============OUR-PORTFOLIO============ */

.portfolio-section {
  padding: 120px 0 120px 0;
}

.our-portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.our-portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.our-portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: left;
}

/* ============FOOTER=========== */

.main-footer {
  background: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.part-of-logo-footer {
  color: #f4f4fd;
  display: inline-block;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
}
